In [1]:
import pandas as pd

In [2]:
documentA = 'the man went out for a walk'
documentB = 'the children sat around the fire'

In [3]:
bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')

In [4]:
uniqueWords = set(bagOfWordsA).union(set(bagOfWordsB))
uniqueWords

{'a',
 'around',
 'children',
 'fire',
 'for',
 'man',
 'out',
 'sat',
 'the',
 'walk',
 'went'}

In [5]:
numOfWordsA = dict.fromkeys(uniqueWords, 0)

for word in bagOfWordsA:
    numOfWordsA[word] += 1
numOfWordsA

{'the': 1,
 'went': 1,
 'walk': 1,
 'around': 0,
 'man': 1,
 'out': 1,
 'fire': 0,
 'sat': 0,
 'children': 0,
 'for': 1,
 'a': 1}

In [6]:
numOfWordsB = dict.fromkeys(uniqueWords, 0)

for word in bagOfWordsB:
    numOfWordsB[word] += 1

numOfWordsB

{'the': 2,
 'went': 0,
 'walk': 0,
 'around': 1,
 'man': 0,
 'out': 0,
 'fire': 1,
 'sat': 1,
 'children': 1,
 'for': 0,
 'a': 0}

In [7]:
def computeTF(wordDict, bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word, count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict

In [8]:
tfA = computeTF(numOfWordsA, bagOfWordsA)
tfA

{'the': 0.14285714285714285,
 'went': 0.14285714285714285,
 'walk': 0.14285714285714285,
 'around': 0.0,
 'man': 0.14285714285714285,
 'out': 0.14285714285714285,
 'fire': 0.0,
 'sat': 0.0,
 'children': 0.0,
 'for': 0.14285714285714285,
 'a': 0.14285714285714285}

In [9]:
tfB = computeTF(numOfWordsB, bagOfWordsB)
tfB

{'the': 0.3333333333333333,
 'went': 0.0,
 'walk': 0.0,
 'around': 0.16666666666666666,
 'man': 0.0,
 'out': 0.0,
 'fire': 0.16666666666666666,
 'sat': 0.16666666666666666,
 'children': 0.16666666666666666,
 'for': 0.0,
 'a': 0.0}

In [10]:
def computeIDF(documents):
    import math
    N = len(documents)
    
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log(N / float(val))
    return idfDict

In [11]:
idfs = computeIDF([numOfWordsA, numOfWordsB])
idfs

{'the': 0.0,
 'went': 0.6931471805599453,
 'walk': 0.6931471805599453,
 'around': 0.6931471805599453,
 'man': 0.6931471805599453,
 'out': 0.6931471805599453,
 'fire': 0.6931471805599453,
 'sat': 0.6931471805599453,
 'children': 0.6931471805599453,
 'for': 0.6931471805599453,
 'a': 0.6931471805599453}

In [12]:
def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [13]:
tfidfA = computeTFIDF(tfA, idfs)
tfidfA

{'the': 0.0,
 'went': 0.09902102579427789,
 'walk': 0.09902102579427789,
 'around': 0.0,
 'man': 0.09902102579427789,
 'out': 0.09902102579427789,
 'fire': 0.0,
 'sat': 0.0,
 'children': 0.0,
 'for': 0.09902102579427789,
 'a': 0.09902102579427789}

In [14]:
tfidfB = computeTFIDF(tfB, idfs)
tfidfB

{'the': 0.0,
 'went': 0.0,
 'walk': 0.0,
 'around': 0.11552453009332421,
 'man': 0.0,
 'out': 0.0,
 'fire': 0.11552453009332421,
 'sat': 0.11552453009332421,
 'children': 0.11552453009332421,
 'for': 0.0,
 'a': 0.0}

In [15]:
df = pd.DataFrame([tfidfA, tfidfB])
df.head()

,the,went,walk,around,man,out,fire,sat,children,for,a
0,0.0,0.099021,0.099021,0.000000,0.099021,0.099021,0.000000,0.000000,0.000000,0.099021,0.099021
1,0.0,0.000000,0.000000,0.115525,0.000000,0.000000,0.115525,0.115525,0.115525,0.000000,0.000000

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform([documentA, documentB])
print(vectors)

  (0, 8)	0.42615959880289433
  (0, 3)	0.42615959880289433
  (0, 5)	0.42615959880289433
  (0, 9)	0.42615959880289433
  (0, 4)	0.42615959880289433
  (0, 7)	0.3032160644503863
  (1, 2)	0.40740123733358447
  (1, 0)	0.40740123733358447
  (1, 6)	0.40740123733358447
  (1, 1)	0.40740123733358447
  (1, 7)	0.5797386715376657

In [17]:
feature_names = vectorizer.get_feature_names()
feature_names

['around',
 'children',
 'fire',
 'for',
 'man',
 'out',
 'sat',
 'the',
 'walk',
 'went']

In [18]:
dense = vectors.todense()
dense

matrix([[0.        , 0.        , 0.        , 0.4261596 , 0.4261596 ,
         0.4261596 , 0.        , 0.30321606, 0.4261596 , 0.4261596 ],
        [0.40740124, 0.40740124, 0.40740124, 0.        , 0.        ,
         0.        , 0.40740124, 0.57973867, 0.        , 0.        ]])

In [19]:
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)
df.head()

,around,children,fire,for,man,out,sat,the,walk,went
0,0.000000,0.000000,0.000000,0.42616,0.42616,0.42616,0.000000,0.303216,0.42616,0.42616
1,0.407401,0.407401,0.407401,0.00000,0.00000,0.00000,0.407401,0.579739,0.00000,0.00000

In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer



data = pd.read_csv('Questions.csv', sep=',')
data.head()

,Unnamed: 0,Id,OwnerUserId,CreationDate,Score,Title,Body
0,0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [21]:
X = data['Title']
y = data['Score']

VecModel = TfidfVectorizer()
X_Vec = VecModel.fit_transform(X)
X_Vec = pd.DataFrame.sparse.from_spmatrix(X_Vec)

print(f'The new shape for X is {X_Vec.shape}')
X_Vec.head()

The new shape for X is (10000, 6870)

,0,1,2,3,4,5,6,7,8,9,...,6860,6861,6862,6863,6864,6865,6866,6867,6868,6869
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
for i in range(5) : 
    print(sorted(list(X_Vec.iloc[i,:]),reverse = True)[:20])
    print('--------------------------------------------------')

[0.422178222176151, 0.3716395905037442, 0.32955184359276674, 0.32666367121717127, 0.3035936514537762, 0.28427933869442007, 0.27713713250250954, 0.2615059045427987, 0.18645448981827298, 0.18597326273423462, 0.17584122839792515, 0.14999446597627894, 0.12187283198225851, 0.11197776573544506, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
--------------------------------------------------
[0.5426412233100997, 0.5289190014000659, 0.4187346787909365, 0.2942839268145828, 0.27016796115062247, 0.2329935255908615, 0.19122427073824194, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
--------------------------------------------------
[0.5645125193070204, 0.5215694064886434, 0.4786262936702665, 0.3573365447207418, 0.20580239279118884, 0.10081572147562867, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
--------------------------------------------------
[0.5090625627208644, 0.45228021334724877, 0.45228021334724877, 0.3752194639691171, 0.33991401883074684, 0.22478750070301515, 0.15773369219653524, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
--------------------------------------------------
[0.49545501901989014, 0.4017251355893547, 0.3767557017869033, 0.3688488495096409, 0.35419360075396095, 0.2623900054302421, 0.22779365299689125, 0.19507232588073126, 0.14311257279773454, 0.10208288800026773, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
--------------------------------------------------

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X_Vec, y, test_size=0.25, random_state=42)

In [24]:
import pandas as pd

In [25]:
documentA = 'ذهب محمد الي الجامعة ليدرس الفيزياء و الكيمياء'
documentB = 'ذاكرت مني الرياضيات و الفيزياء في الجامعة'

In [26]:
bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')

In [27]:
uniqueWords = set(bagOfWordsA).union(set(bagOfWordsB))
uniqueWords

{'الجامعة',
 'الرياضيات',
 'الفيزياء',
 'الكيمياء',
 'الي',
 'ذاكرت',
 'ذهب',
 'في',
 'ليدرس',
 'محمد',
 'مني',
 'و'}

In [28]:
numOfWordsA = dict.fromkeys(uniqueWords, 0)

for word in bagOfWordsA:
    numOfWordsA[word] += 1
numOfWordsA

{'الفيزياء': 1,
 'محمد': 1,
 'الرياضيات': 0,
 'الي': 1,
 'الكيمياء': 1,
 'الجامعة': 1,
 'مني': 0,
 'ذهب': 1,
 'ليدرس': 1,
 'في': 0,
 'ذاكرت': 0,
 'و': 1}

In [29]:
numOfWordsB = dict.fromkeys(uniqueWords, 0)

for word in bagOfWordsB:
    numOfWordsB[word] += 1

numOfWordsB

{'الفيزياء': 1,
 'محمد': 0,
 'الرياضيات': 1,
 'الي': 0,
 'الكيمياء': 0,
 'الجامعة': 1,
 'مني': 1,
 'ذهب': 0,
 'ليدرس': 0,
 'في': 1,
 'ذاكرت': 1,
 'و': 1}

In [30]:
def computeTF(wordDict, bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word, count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict

In [31]:
tfA = computeTF(numOfWordsA, bagOfWordsA)
tfA

{'الفيزياء': 0.125,
 'محمد': 0.125,
 'الرياضيات': 0.0,
 'الي': 0.125,
 'الكيمياء': 0.125,
 'الجامعة': 0.125,
 'مني': 0.0,
 'ذهب': 0.125,
 'ليدرس': 0.125,
 'في': 0.0,
 'ذاكرت': 0.0,
 'و': 0.125}

In [32]:
tfB = computeTF(numOfWordsB, bagOfWordsB)
tfB

{'الفيزياء': 0.14285714285714285,
 'محمد': 0.0,
 'الرياضيات': 0.14285714285714285,
 'الي': 0.0,
 'الكيمياء': 0.0,
 'الجامعة': 0.14285714285714285,
 'مني': 0.14285714285714285,
 'ذهب': 0.0,
 'ليدرس': 0.0,
 'في': 0.14285714285714285,
 'ذاكرت': 0.14285714285714285,
 'و': 0.14285714285714285}

In [33]:
def computeIDF(documents):
    import math
    N = len(documents)
    
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log(N / float(val))
    return idfDict

In [34]:
idfs = computeIDF([numOfWordsA, numOfWordsB])
idfs

{'الفيزياء': 0.0,
 'محمد': 0.6931471805599453,
 'الرياضيات': 0.6931471805599453,
 'الي': 0.6931471805599453,
 'الكيمياء': 0.6931471805599453,
 'الجامعة': 0.0,
 'مني': 0.6931471805599453,
 'ذهب': 0.6931471805599453,
 'ليدرس': 0.6931471805599453,
 'في': 0.6931471805599453,
 'ذاكرت': 0.6931471805599453,
 'و': 0.0}

In [35]:
def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [36]:
tfidfA = computeTFIDF(tfA, idfs)
tfidfA

{'الفيزياء': 0.0,
 'محمد': 0.08664339756999316,
 'الرياضيات': 0.0,
 'الي': 0.08664339756999316,
 'الكيمياء': 0.08664339756999316,
 'الجامعة': 0.0,
 'مني': 0.0,
 'ذهب': 0.08664339756999316,
 'ليدرس': 0.08664339756999316,
 'في': 0.0,
 'ذاكرت': 0.0,
 'و': 0.0}

In [37]:
tfidfB = computeTFIDF(tfB, idfs)
tfidfB

{'الفيزياء': 0.0,
 'محمد': 0.0,
 'الرياضيات': 0.09902102579427789,
 'الي': 0.0,
 'الكيمياء': 0.0,
 'الجامعة': 0.0,
 'مني': 0.09902102579427789,
 'ذهب': 0.0,
 'ليدرس': 0.0,
 'في': 0.09902102579427789,
 'ذاكرت': 0.09902102579427789,
 'و': 0.0}

In [38]:
df = pd.DataFrame([tfidfA, tfidfB])
df.head()

,الفيزياء,محمد,الرياضيات,الي,الكيمياء,الجامعة,مني,ذهب,ليدرس,في,ذاكرت,و
0,0.0,0.086643,0.000000,0.086643,0.086643,0.0,0.000000,0.086643,0.086643,0.000000,0.000000,0.0
1,0.0,0.000000,0.099021,0.000000,0.000000,0.0,0.099021,0.000000,0.000000,0.099021,0.099021,0.0

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform([documentA, documentB])
print(vectors)

  (0, 3)	0.4078241041497786
  (0, 2)	0.29017020899133733
  (0, 8)	0.4078241041497786
  (0, 0)	0.29017020899133733
  (0, 4)	0.4078241041497786
  (0, 9)	0.4078241041497786
  (0, 6)	0.4078241041497786
  (1, 7)	0.4466561618018052
  (1, 1)	0.4466561618018052
  (1, 10)	0.4466561618018052
  (1, 5)	0.4466561618018052
  (1, 2)	0.31779953783628945
  (1, 0)	0.31779953783628945

In [40]:
feature_names = vectorizer.get_feature_names()
feature_names

['الجامعة',
 'الرياضيات',
 'الفيزياء',
 'الكيمياء',
 'الي',
 'ذاكرت',
 'ذهب',
 'في',
 'ليدرس',
 'محمد',
 'مني']

In [41]:
dense = vectors.todense()
dense

matrix([[0.29017021, 0.        , 0.29017021, 0.4078241 , 0.4078241 ,
         0.        , 0.4078241 , 0.        , 0.4078241 , 0.4078241 ,
         0.        ],
        [0.31779954, 0.44665616, 0.31779954, 0.        , 0.        ,
         0.44665616, 0.        , 0.44665616, 0.        , 0.        ,
         0.44665616]])

In [42]:
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)
df.head()

,الجامعة,الرياضيات,الفيزياء,الكيمياء,الي,ذاكرت,ذهب,في,ليدرس,محمد,مني
0,0.29017,0.000000,0.29017,0.407824,0.407824,0.000000,0.407824,0.000000,0.407824,0.407824,0.000000
1,0.31780,0.446656,0.31780,0.000000,0.000000,0.446656,0.000000,0.446656,0.000000,0.000000,0.446656