In [8]:
import os
import tweepy as tw
import pandas as pd

In [9]:
consumer_key = "--"
consumer_secret = "--"
access_token = "--"
access_token_secret = "--"

In [10]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [11]:
search_words = "#euro2020"
date_since = "2021-01-01"

In [21]:
tweets = tw.Cursor(api.search,
              q=search_words,
              lang="en",
              since=date_since).items(5)

In [22]:
for tweet in tweets:
    print(f'Tweets is :    {tweet.text}')
    print(f'Username is :    {tweet.user.screen_name}')
    print(f'Location is :    {tweet.user.location}')
    print('----------------------------------------')

Tweets is :    Betvictor Money Back at The Euros
Get A Â£30 Risk-Free Bet

New Customers
1. Place your first bet on The Euros markeâ€¦ https://t.co/owM4oSABVJ
Username is :    BookieOffers728
Location is :    United Kingdom
----------------------------------------
Tweets is :    Betvictor Money Back at The Euros
Get A Â£30 Risk-Free Bet

New Customers
1. Place your first bet on The Euros markeâ€¦ https://t.co/uHaDHponba
Username is :    BettingOffers7
Location is :    United Kingdom
----------------------------------------
Tweets is :    Betvictor Money Back at The Euros
Get A Â£30 Risk-Free Bet

New Customers
1. Place your first bet on The Euros markeâ€¦ https://t.co/7EDO5y5nq0
Username is :    Betting_Offers2
Location is :    North East, England
----------------------------------------
Tweets is :    RT @ChelseaFC: Suited and booted. ğŸ‘

#Euro2020 | #ITA https://t.co/pJWELb7nkV
Username is :    mallamgandhi
Location is :
----------------------------------------
Tweets is :    RT @exopredict: @EURO2020 @vivo_europe &lt;DON'T FIGHT THE FEELING&gt; by EXO @weareoneEXO
@EURO2020 @vivo_europe #EURO2020 https://t.co/JjsvZgFâ€¦
Username is :    EXU_LOVES
Location is :    EXO PLANET
----------------------------------------

In [25]:
tweets = tw.Cursor(api.search,q=search_words,lang="en",
                           since=date_since).items(5)

users_locs = [[tweet.text,tweet.user.screen_name, tweet.user.location] for tweet in tweets]
tweet_text = pd.DataFrame(data=users_locs, 
                    columns=['tweet','user', "location"])
tweet_text.head()

,tweet,user,location
0,RT @LFC: ğ‘®ğ‘¶ğ‘¨ğ‘³ ğ‘¹ğ‘¼ğ‘ºğ‘¯ âš½âš½âš½âš½\n\nAhead of our two We...,DoSheldon1967,The Cloud
1,RT @secretshirtco: If #ITA progress to the Qua...,Pop_Ionut953,
2,RT @EURO2020: ğŸ‡®ğŸ‡¹ğŸ†šğŸ‡¦ğŸ‡¹ Who are you backing? \n\n...,AnthonyKimaniJr,"Nairobi, Kenya."
3,RT @ChelseaFC: Suited and booted. ğŸ‘\n\n#Euro20...,Alhassa83518932,"Upper West, Ghana"
4,RT @exopredict: @EURO2020 @vivo_europe &lt;DON...,temannyauco,

In [ ]:
tweet_text.to_csv('1.csv')